<div class="header">
    <h1 class="title">storagehotel</h1>
    
    <div class="steps-div">

        <!-- breadcrumbs are filled if the router url is the same, it is just the outline when we're not on the route -->

        <!-- step 1 -->
        <img *ngIf="(route==='/select'); else outlinedSelect" src='assets/svg/FilledSelect.svg'>    
        <ng-template #outlinedSelect>
            <img src='assets/svg/OutlinedSelect.svg'>             
        </ng-template>
            
        <!-- step 2 -->
        <img *ngIf="(route==='/book'); else outlinedBook" src='assets/svg/FilledBook.svg'>     
        <ng-template #outlinedBook>
            <img src='assets/svg/OutlinedBook.svg'>
        </ng-template>
            
        <!-- step 3 -->
        <img *ngIf="(route==='/checkout'); else outlinedCheckout" src='assets/svg/FilledCheckout.svg'>
        <ng-template #outlinedCheckout>
            <img src='assets/svg/OutlinedCheckout.svg'>
        </ng-template>  
    </div>

    <div class="button-div">
    </div>
</div>
