<div class="component-wrapper">
        <div class="items-col">
        
            <!-- Storage Box Section -->
            <h1 class="section-header" style="margin-top: 0px;">How many boxes do you need?</h1>
            <p class="section-subheader">we offer FREE storage boxes and tape, and they're yours to keep after!</p>
            <app-product-item [product]="storagebox"></app-product-item>
            <p class="note">*not sure how many boxes you'll need? Return any unused boxes to us during your pickup appointment 
                <br> and we'll refund you the full storage cost minus a small $6 restocking fee</p>

            <!-- Oversized Items Section -->
            <h1 class="section-header">Oversized items</h1>
            <p class="section-subheader">For those things that don't seem to fit in a box...</p>
            <div class="row" style="transform: translateX(-12px);">
                <div class="col" id="col-1">
                    <ng-container *ngFor="let product of products">
                            <app-product-item *ngIf="product.col === '1'" [product]="product"></app-product-item>
                    </ng-container>
                </div>
                <div class="col" id="col-2">
                    <ng-container *ngFor="let product of products">
                            <app-product-item *ngIf="product.col === '2'" [product]="product"></app-product-item>
                    </ng-container>
                </div>
            </div>

            <!-- Mattresses Section -->
            <h1 class="section-header">Mattresses</h1>
            <p class="section-subheader"> FREE protective mattress bag included</p>
            <div class="row" style="transform: translateX(-12px);">
                <div class="col" id="col-1">
                    <ng-container *ngFor="let product of products">
                            <app-product-item *ngIf="product.col === 'mattress-1'" [product]="product"></app-product-item>
                    </ng-container>
                </div>
                <div class="col" id="col-2">
                    <ng-container *ngFor="let product of products">
                            <app-product-item *ngIf="product.col === 'mattress-2'" [product]="product"></app-product-item>
                    </ng-container>
                </div>
            </div>

            <!-- Custom Item Section -->
            <h1 class="section-header">Don't see your item?</h1>
            <p class="section-subheader">Enter the dimensions of your item below or contact us
                <br>we'll be happy to give you a quote!</p>
            <app-custom-item></app-custom-item>
            

        </div>
</div>
