.items-div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    height: 100%;
}

h3 {
    font-family: "Gilroy-Medium";
}

.items-header{
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    font-size: 12px;
}

button {
    height: 30px;
    border-radius: 30px;
    background-color: #E18A65!important;
    color: #FFF;
    line-height: 0px;
    font-family: "Gilroy-Medium";
}

button:hover {
    background-color: #F4AE82!important;
}

.col {
    display: flex;
    flex-direction: column;
    width: 35%;
  }


.item-name {
    margin-top: 0px;
    margin-bottom: 10px;
}

.list-item {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-icon {
    width: 30%;
    display: flex;
    justify-content: center;
}

.item-status, .item-price {
    font-size: 11px;
    color: #B3B3B3;
    font-family: "Gilroy-Regular";
}

.icon {
    width: 120px;
    height: 120px
}

.item-price {
    height: 49px;
    display: flex;
    align-items: flex-end;
}

.value {
    font-size: 14px;
    color: #000;
    padding-left: 8px;
    font-family: "Gilroy-Regular";
}

/* MEDIA QUERIES */

@media only screen and (max-width: 576px) {
    .items-div {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        height: 100%;
    }
    .items-header{
        padding-top: 2vh;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E0E0E0;
        font-size: 11px;
    }
    button {
        height: 25px;
        border-radius: 30px;
        font-size: 11px;
        line-height: 0px;
    }
    .item-icon {
        width: 25%;
    }
    .item-icon img {
        width: 100%;
    }
    .item-name {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .item-status, .item-size {
        font-size: 9px;
    }
    .value {
        font-size: 12px;
        padding-left: 8px;
    }
    .item-size {
        height: 42px;
        margin-left: 30px;
    }
}
