<div class="items-div">
    <div class="items-header">
      <p>ITEMS</p>
      <button mat-flat-button (click)="openDialog()" color="accent">  retrieve items  </button>
    </div>
    <div class="items-list">
      <ng-container *ngFor="let item of items">
        <div class="list-item">
          
            <div class="item-icon">     
                <img src="{{item.path}}">  
            </div>
            <div class="col">
                <h3 class="item-name">{{item.name}}</h3>
                <div class="item-status">STATUS: <strong class="value">{{item.status}}</strong></div>
            </div>
            <div class="col">
              <div class="item-size">
                PRICE: <strong class="value">{{item.price}} cu ft</strong>
              </div>
            </div>
        </div>
      </ng-container>
    </div>
  </div>
