.main-wrapper {
    width: 400px;
    height: 404px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
}

.form-div{
    display: flex;
    flex-direction: column;
    padding: 20px 30px 40px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-field {
    width: 48%;
}

.confirmed-div{
    width: 400px;
    height: 319.33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.confirmed-div h2 {
    font-family: "Gilroy-Regular";
    font-size: 16px;
}

.confirmed-div h3 {
    font-family: "Gilroy-Bold";
    font-size: 18px;
}

.button-div {
    display: flex;
    justify-content: center;
}

button {
    background-color: #E18A65!important;
    border-radius: 20px;
    font-size: 16px;
    padding: 0px 30px;
    font-family: "Gilroy-Medium";
}

button:hover {
    background-color: #F4AE82!important;
}

[hidden] { display: none !important;}

@media only screen and (max-width: 576px) {
    .main-wrapper {
        width: 90%;
        margin-left: 20px;
    }
}