<div class="main-wrapper">
    <form [hidden]="confirmed" class="form-div" [formGroup]="locationForm">
        <div class="row">
            <mat-form-field class="row-field">
                <input matInput placeholder="Full Name" [formControl]="name">
            </mat-form-field>
            <mat-form-field class="row-field">
                <input matInput placeholder="Phone" [formControl]="phone">
            </mat-form-field>
        </div>
        <mat-form-field>
            <input matInput placeholder="Address" formControlName="line1" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Apt/Unit/Floor/House" formControlName="line2">
        </mat-form-field>
        <div class="row">
            <mat-form-field class="row-field">
                <input matInput placeholder="City" formControlName="city">
            </mat-form-field>
            <mat-form-field class="row-field">
                <input matInput placeholder="Postal Code" formControlName="postal_code">
            </mat-form-field>
        </div>
    </form>
    <div [hidden]="!confirmed" class="confirmed-div">
        <h2 align="center" >To be picked up at:</h2>
        <h3 align="center">{{locationForm.get('line1').value}}
            <br>{{locationForm.get('line2').value}}
            <br>{{locationForm.get('city').value}}, BC
            <br>Canada {{locationForm.get('postal_code').value}}
        </h3>
    </div>
    <div class="button-div">
        <button mat-flat-button [hidden]="confirmed" (click)="handleClick()" color="accent" type="button" [disabled]="!(locationForm.valid && name.valid && phone.valid)">Confirm</button>
        <button mat-flat-button [hidden]="!confirmed" (click)="handleClick()" color="accent" type="button">Change</button>
    </div>
</div>

