<div class="wrapper">
  <mat-tab-group [(selectedIndex)]=index mat-align-tabs="center"> 

    <ng-container *ngIf="checkout.hasSupplies()">
      <mat-tab label="Supply Drop-Off Date" [disabled]="isFirstTabDisabled">
        <form [formGroup]="supplyDropForm" class="content">
            <mat-radio-group formControlName="deliveryMethod" class="radio-group">
              <mat-radio-button value="FREE">FREE Date</mat-radio-button>
              <mat-radio-button value="CUSTOM">Custom Date (+$45)</mat-radio-button>
            </mat-radio-group>
              <mat-form-field appearance="outline" *ngIf="(supplyDropForm.get('deliveryMethod').value==='FREE')">
                <mat-label>Select a FREE Supply Drop-Off Date</mat-label>
                <mat-select formControlName="freeDate">
                  <mat-option *ngFor="let date of SupplyDropDates" [value]="date.value">
                    {{date.label}}
                  </mat-option>
                  <mat-option *ngIf="SupplyDropDates.length === 0" [value]="N/A" disabled>
                    No Free Pick Up Dates Available
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="(supplyDropForm.get('deliveryMethod').value==='CUSTOM')">
                <mat-label>Select a Date</mat-label>
                <input matInput [min]="today" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" formControlName="customDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Preferred Time Window</mat-label>
              <mat-select formControlName="time" disableRipple>
                <mat-option *ngFor="let time of preferredTimes" [value]=time>
                  {{time}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="preferred-time-note">
            <p>We'll try our best to schedule your appointment during your preferred time window, and email you an exact 2-hour time window 1-2 days prior to your appointment dates. In the meantime, please keep your appointment dates open until you receive your time window!</p>
            </div>
            <button mat-flat-button type="button" (click)="onNext()" [disabled]="!(supplyDropForm.valid)">Next</button>
        </form>
      </mat-tab>
    </ng-container>

    <mat-tab label="Pick Up Date" [disabled]="isSecondTabDisabled">
          <form [formGroup]="pickupForm" class="content">
          <mat-radio-group formControlName="deliveryMethod" class="radio-group">
            <mat-radio-button value="FREE">FREE Date</mat-radio-button>
            <mat-radio-button value="CUSTOM">Custom Date (+$45)</mat-radio-button>
          </mat-radio-group>
            <mat-form-field appearance="outline" *ngIf="(pickupForm.get('deliveryMethod').value==='FREE')">
              <mat-label>Select a FREE Pick Up Date</mat-label>
              <mat-select formControlName="freeDate">
                <mat-option *ngFor="let date of FreePickupDates" [value]="date.value" [disabled]="(checkout.supplyDropForm && (date.value <= checkout.supplyDropForm.get('date').value))">
                  {{date.label}}
                </mat-option>
                <mat-option *ngIf="FreePickupDates.length === 0" [value]="N/A" disabled>
                  No Free Pick Up Dates Available
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="(pickupForm.get('deliveryMethod').value==='CUSTOM')">
              <mat-label>Select a Date</mat-label>
              <input matInput [min]="pickupMinDate()" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" formControlName="customDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Preferred Time</mat-label>
            <mat-select formControlName="time" disableRipple>
              <mat-option *ngFor="let time of preferredTimes" [value]=time>
                {{time}}
              </mat-option>
            </mat-select>
          </mat-form-field>
              <div class="preferred-time-note">
            <p>We'll try our best to schedule your appointment during your preferred time window, and email you an exact 2-hour time window 1-2 days prior to your appointment dates. In the meantime, please keep your appointment dates open until you receive your time window!</p>
            </div>
        <div class="pick-up-buttons">
          <button *ngIf="checkout.hasSupplies()" mat-flat-button type="button" (click)="onBack()">Back</button>
          <button mat-flat-button type="button" color="accent" (click)="onSubmit()" [disabled]="!pickupForm.valid && (checkout.hasSupplies() || !supplyDropForm.valid)">Submit</button>
          </div>
        </form>
    </mat-tab>
  </mat-tab-group>
</div>
