.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 50px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
  }

.main {
  width: 100%;
  padding-top: 4%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.spacer {
  height: 550px;
  width: 300px;
}

.element-header

.pickup-location, .pickup-time {
  height: 550px;
  width: 450px;
}
