<app-header></app-header>
<div class="main">
        <div class="pickup-location">
                <div class="element-header">
                        <h2>Pickup Location</h2>
                        <p>Where would you like us to pickup your belongings from?</p>
                </div>
                <app-location-picker></app-location-picker>
        </div>
        <div class="spacer"></div>
        <div class="pickup-time">
                <div class="element-header">
                        <h2>Pickup Date</h2>
                        <p>When would you like us to pickup your belongings?</p>
                </div>
                <app-time-picker #calendar (dateSelected)="dateSelected($event)"></app-time-picker>
        </div>
</div>
<div class="footer">
        <button mat-flat-button color="accent" routerLink="/ordersummary">Next ></button>
</div>
