mat-card {
    border-radius: 25px;
    width: 50vh;
}

mat-card-title {
    padding-top: 20px;
}

mat-card-actions, mat-card-header {
    display: flex;
    justify-content: center;
}

.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

mat-form-field,
textarea {
    width: 80%;
}

#error {
    display: flex;
    justify-content: center;
}

