/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; background-color: #F8F8F8;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}
.mat-tab-body-wrapper{
    flex-grow: 1;
  }

.free-pickup-date {
    background: orange;
    border-radius: 100%;
}

.free-pickup-date:before {
    content: "FREE";
    display: block;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(15px);
    z-index: 100;
}

.custom-date:before{
    content: "$45";
    display: block;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(15px);
    z-index: 100;
}

.custom-dialog-container .mat-dialog-container {
    border-radius: 25px;
}
