/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
font-family: 'Gilroy-Bold';
font-style: normal;
font-weight: normal;
src: url("https://s3.ca-central-1.amazonaws.com/storagehotel.ca/assets/fonts/Gilroy-Bold.woff") format('woff');
}


@font-face {
font-family: 'Gilroy-Heavy';
font-style: normal;
font-weight: normal;
src: url("https://s3.ca-central-1.amazonaws.com/storagehotel.ca/assets/fonts/Gilroy-Heavy.woff") format('woff');
}


@font-face {
font-family: 'Gilroy-Light';
font-style: normal;
font-weight: normal;
src: url("https://s3.ca-central-1.amazonaws.com/storagehotel.ca/assets/fonts/Gilroy-Light.woff") format('woff');
}


@font-face {
font-family: 'Gilroy-Medium';
font-style: normal;
font-weight: normal;
src: url("https://s3.ca-central-1.amazonaws.com/storagehotel.ca/assets/fonts/Gilroy-Medium.woff") format('woff');
}


@font-face {
font-family: 'Gilroy-Regular';
font-style: normal;
font-weight: normal;
src: url("https://s3.ca-central-1.amazonaws.com/storagehotel.ca/assets/fonts/Gilroy-Regular.woff") format('woff');
}

html, body { height: 100%; background-color: #F8F8F8;}

body {
    margin: 0; 
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}
.mat-tab-body-wrapper{
    flex-grow: 1;
  }

.free-pickup-date {
    background: orange;
    border-radius: 100%;
}

.free-pickup-date:before {
    content: "FREE";
    display: block;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(15px);
    z-index: 100;
}

.custom-date:before{
    content: "$45";
    display: block;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(15px);
    z-index: 100;
}

.custom-dialog-container .mat-dialog-container {
    border-radius: 25px;
}

.mat-mini-fab {
    box-shadow: none !important;
}

.mat-horizontal-content-container {
    padding: 0% !important;
    width: 100%;
    height: calc(100vh - 98px);
    overflow: hidden !important;
}

.mat-horizontal-stepper-content {
    outline: 0;
    width: 100%;
    height: 100%;
}

.mat-horizontal-stepper-header-container {
    padding: 0px 30vw;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 18px !important;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #E18A65;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #E18A65!important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    background-color: #E18A65!important;
    border-color: rgba(0,0,0,.54)!important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #E18A65!important;
    border-color: rgba(0,0,0,.54)!important;
}

mat-ink-bar {
    background-color: #E18A65!important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0.8em!important;
}

.mat-mini-fab .mat-button-wrapper {
    padding: 0px!important;
    line-height: 0px!important;
}

/* FONTS */

h1,h2,h3,h4,h5,h6 {
    font-family: "Gilroy-Bold";
    font-weight: normal;
}

.mat-card {
    font-family: "Gilroy-Regular";
}

p {
    font-family: "Gilroy-Regular";
}

/* MEDIA QUERIES */

@media only screen and (max-width: 576px) {
    .cdk-overlay-pane {
        width: 100%!important;
    }
    .mat-step-header {
        padding: 10px 5px 10px 5px!important;
    }
    .mat-step-label-selected, .mat-step-label, .mat-step-label-active {
        font-size: 12px;
        white-space: normal!important;
        overflow: auto!important;
        line-height: 18px;
    }
    .mat-checkbox-layout .mat-checkbox-label {
        font-size: 14px;
    }
    .mat-dialog-content {
        padding: 0px 15px 0px 15px!important;
    }
    .mat-horizontal-stepper-header-container {
        padding: 0px 10vw;
    }
}
