<mat-card class="card">
    <mat-card-header>
        <div class="place-div">
            <p>Pickup Location:</p>
            <h4 *ngIf="address; else noAddress">
                <div *ngIf="(address.get('line2').value != '')">{{address.get('line2').value || ''}}<br></div>
                {{address.get('line1').value}}, {{address.get('city').value}}, BC
                <br>Canada {{address.get('postal_code').value}}
            </h4>
            <ng-template #noAddress>
                <strong>You forgot to set a pickup address!</strong>
            </ng-template>
        </div>
        <ng-container *ngIf="checkout.hasSupplies()">
            <div class="time-div">
                <p>Supply Dropoff Date & Time:</p>
                <h4 *ngIf="(supplyDropForm); else noTime">{{getDate(supplyDropForm)}} from {{supplyDropForm.get('time').value}}</h4>
                <ng-template #noTime>
                        <strong>You forgot to set a pickup date & time!</strong>
                </ng-template>
            </div>
        </ng-container>
        <div class="time-div">
            <p>Pickup Date & Time:</p>
            <h4 *ngIf="(pickupForm); else noTime">{{getDate(pickupForm)}} from {{pickupForm.get('time').value}}</h4>
            <ng-template #noTime>
                    <strong>You forgot to set a pickup date & time!</strong>
            </ng-template>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div [hidden]="hasAccount || isLoggedIn">
            <div class="button-div">
                <button mat-button color="accent" type="button" (click)="hasAccount = true">already have an account?</button>
            </div>
            <form class="form-div" action="/charge" method="post" id="payment-form">
                <mat-form-field>
                    <input matInput placeholder="Email" [formControl]="email">
                </mat-form-field>
                <mat-form-field>
                    <span #cardElement>
                        <input matInput=number>
                    </span>
                </mat-form-field>
            </form>
        </div>
        <div [hidden]="!hasAccount || isLoggedIn">
            <div class="button-div">
                <button mat-button color="accent" type="button" (click)="hasAccount = false">pay with a new account instead</button>
            </div>
            <form class="form-div" [formGroup]="loginForm">
                <mat-form-field>
                    <input matInput placeholder="Email" type="email" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>
            </form>
        </div>
        <div [hidden]="!isLoggedIn" *ngIf="isLoggedIn && creditcard" class="form-div">
            <button mat-button color="accent" type="button" (click)="hasAccount = false; isLoggedIn = false">pay with a new account instead</button>
            To be charged to this card:
            <app-creditcard [creditcard]="creditcard"></app-creditcard>
        </div>
            <mat-error id="error">{{errorMessage}}</mat-error>
    </mat-card-content>
    <mat-card-actions>
        <div [hidden]="hasAccount || isLoggedIn" class="action-div">
            <mat-spinner *ngIf="loading; else payButtonTemplate" color="accent" diameter="50"></mat-spinner>
            <ng-template #payButtonTemplate>
                <button mat-flat-button 
                        id="payment-button" 
                        type="button" 
                        (click)="onSubmit()"
                        [disabled]="!(email.valid && paymentCardComplete && address && (supplyDropForm.valid || checkout.hasSupplies()) && pickupForm.valid)" 
                        color="accent" style="width: 100%;">
                        PAY ${{(price * 1.05).toFixed(2)}}
                </button>
            </ng-template>
        </div>
        <div [hidden]="!hasAccount || isLoggedIn" class="action-div">
            <mat-spinner *ngIf="loading; else loginButtonTemplate" color="accent" diameter="50"></mat-spinner>
            <ng-template #loginButtonTemplate>
                <button mat-flat-button
                        type="button" 
                        (click)="login()" 
                        [disabled]="!loginForm.valid"
                        color="accent" style="width: 100%;">
                        LOGIN
                </button>
            </ng-template>
        </div>
        <div [hidden]="!isLoggedIn" class="action-div">
            <mat-spinner *ngIf="loading; else payWithAccountButtonTemplate" color="accent" diameter="50"></mat-spinner>
            <ng-template #payWithAccountButtonTemplate>
                <button mat-flat-button
                        type="button" 
                        (click)="addItemsToUser()"
                        [disabled]="!isLoggedIn || !(address && (supplyDropForm || checkout.hasSupplies()) && pickupForm)"
                        color="accent" style="width: 100%;">
                        PAY ${{(price * 1.05).toFixed(2)}}
                </button>
            </ng-template>
        </div>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>
