mat-card {
    border-radius: 25px;
}

mat-card-header {
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

mat-card-actions, mat-card-header {
    display: flex;
    justify-content: center;
}

.time-div{
    width: 80%;
}

.place-div {
    width: 80%;
}

.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.signin-div{
    display: flex;
    justify-content: center;
}

mat-form-field {
    width: 80%;
}

mat-card-content {
    padding-top: 20px;
}

#error {
    display: flex;
    justify-content: center;
}
