<mat-card class="card">
    <mat-card-header>
        <div class="place-div">
            <p>Pickup Location:</p>
            <strong *ngIf="address; else noAddress">
                <div *ngIf="(address.get('address2').value != '')">{{address.get('address2').value || ''}}<br></div>
                {{address.get('address').value}}, {{address.get('city').value}}, BC
                <br>Canada {{address.get('postalcode').value}}
            </strong>
            <ng-template #noAddress>
                <strong>You forgot to set a pickup address!</strong>
            </ng-template>
        </div>
        <div class="time-div">
            <p>Supply Dropoff Date & Time:</p>
            <h4 *ngIf="(supplyDropForm); else noTime">{{getDate(supplyDropForm)}} from {{supplyDropForm.get('time').value}}</h4>
            <ng-template #noTime>
                    <strong>You forgot to set a pickup date & time!</strong>
            </ng-template>
        </div>
        <div class="time-div">
            <p>Pickup Date & Time:</p>
            <h4 *ngIf="(pickupForm); else noTime">{{getDate(pickupForm)}} from {{pickupForm.get('time').value}}</h4>
            <ng-template #noTime>
                    <strong>You forgot to set a pickup date & time!</strong>
            </ng-template>
        </div>
    </mat-card-header>
    <mat-card-content>
        <form class="form-div" action="/charge" method="post" id="payment-form">
                <mat-form-field>
                    <input matInput placeholder="Email" [formControl]="email">
                </mat-form-field>
                <mat-form-field>
                    <span #cardElement>
                        <input matInput=number>
                    </span>
                </mat-form-field>
            </form>
            <mat-error id="error">{{errorMessage}}</mat-error>
    </mat-card-content>
    <mat-card-actions>
        <mat-spinner *ngIf="loading; else payButtonTemplate" color="accent" diameter="50"></mat-spinner>
        <ng-template #payButtonTemplate>
            <button mat-flat-button 
                    id="payment-button" 
                    type="button" 
                    (click)="onSubmit()" 
                    [disabled]="!(email.valid && paymentCardComplete && address && supplyDropForm && pickupForm)" 
                    color="accent" style="width: 80%;">
                    PAY ${{price * 1.05}}
            </button>
        </ng-template>
    </mat-card-actions>
    <mat-card-actions>
        <button mat-button color="accent" type="button">already have an account?</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>
