<h1 class="logo">storagehotel</h1>
<mat-horizontal-stepper labelPosition="bottom">
    <mat-step>
        <ng-template matStepLabel>Select</ng-template>
        <div class="content">
            content
            <div class="buttons-div">
                <button mat-button matStepperNext>Next</button>
            </div>
        </div>
    </mat-step>

    <mat-step >
        <ng-template matStepLabel>Book</ng-template>
        <div class="content">
            content
            <div class="buttons-div">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
        </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Checkout</ng-template>
      <div class="content">
          content
          <div class="buttons-div">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
