.items-div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    height: 100%;
}

.items-header {
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    font-size: 12px;
}

.list-item {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
    padding-bottom: 10px;
}

.date-col{
    width: 23%;
    border-right: 1px solid #E0E0E0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.month-div{
    display: flex;
    font-size: 14px;
    justify-content: center;
}

.day-div{
    display: flex;
    font-size: 38px;
    justify-content: center;
    padding-top: 2px;
    color: #E18A65;
}

.preferred-time{
    padding-top: 8px;
}

.detail-preferred-time {
    font-size: 12px;
}

.time {
    padding-top: 2px;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.appointment-details {
    flex-direction: column;
    width: 70%;
    padding-left: 3%;
}

.details-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.detail-title {
    font-size: small;
}

.appointment-type {
    color: grey;
}

.appointment-items {
    width: 33%;
}

.appointment-address {
    width: 48%;
    padding-right: 20px;
}

.appointment-actions-col {
    width: 20%;
    padding-top: 5px;
}

.cancel-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.cancel-button button {
    border-radius: 30px;
    font-size: 12px;
    color: #E18A65;
    width: 100px;
    line-height: 25px;
    border-color: #E18A65;
}

.reschedule-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reschedule-button button {
    border-radius: 30px;
    font-size: 12px;
    color: #a8a8a8;
    width: 100px;
    line-height: 25px;
}

.detail-value {
    font-size: small;
    font-weight: bold;
}

@media only screen and (max-width: 576px) {
    .items-div {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        height: 100%;
    }
    .list-item {
        width: 100%;
        background: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .items-header{
        padding-top: 2vh;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E0E0E0;
        font-size: 11px;
    }
    .date-col{
        width: 100%;
        border-right: 0px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .appointment-type {
        color: grey;
    }
    .details-row {
        display: table;
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
    .appointment-details {
        display: flex;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .appointment-items {
        width: 100%;
        line-height: 5px;
    }
    .detail-value {
        font-size: small;
        font-weight: bold;
        margin: 5px 0px 20px 0px;
    }
    .appointment-address {
        width: 100%;
    }
    .appointment-actions-col {
        width: 100%;
    }
    .cancel-button {
        width: 100%;
        display: inline;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        margin-right: 10px;
    }
    .cancel-button button {
        border-radius: 30px;
        font-size: 12px;
        color: #E18A65;
        width: 100px;
        line-height: 25px;
        border-color: #E18A65;
    }
    .reschedule-button {
        width: 100%;
        display: inline;
        justify-content: center;
        align-items: center;
    }
    .reschedule-button button {
        border-radius: 30px;
        font-size: 12px;
        color: #a8a8a8;
        width: 100px;
        line-height: 25px;
    }
}