<div class="row">
        <div class="item-icon">     
            <img src="{{path}}">  
        </div>
        <div class="col">
            <div class="item-name">{{name}}</div>
            <div class="item-space">{{space}} cu/ft</div>
        </div>
        <div class="counter-div">
            <button mat-mini-fab color="accent" (click)="decrement()">-</button>
            <div class="counter"><h2>{{count}}</h2></div>
            <button mat-mini-fab color="accent" (click)="increment()">+</button>
        </div>
    </div>
