<div *ngIf="(name === 'storagehotel large box'); else elseBlock" class="row" id="storagebox">
    <div class="storagebox-icon">     
        <img class="storagebox-icon" src="{{path}}">  
    </div>
    <div class="col">
        <div class="storagebox-name">{{name}}</div>
        <div class="storagebox-price">${{price}} /month</div>
    </div>
    <div class="counter-div">
        <button mat-mini-fab color="accent" (click)="decrement()">-</button>
        <div class="counter"><h2>{{count}}</h2></div>
        <button mat-mini-fab color="accent" (click)="increment()">+</button>
    </div>
</div>

<ng-template #elseBlock>
    <div class="row">
        <div class="item-icon">     
            <img class="item-icon" src="{{path}}">  
        </div>
        <div class="col">
            <div class="item-name">{{name}}</div>
            <div class="item-price">${{price}} /month</div>
        </div>
        <div class="counter-div">
            <button mat-mini-fab color="accent" (click)="decrement()">-</button>
            <div class="counter"><h2>{{count}}</h2></div>
            <button mat-mini-fab color="accent" (click)="increment()">+</button>
        </div>
</div>

</ng-template>
