<div class="main">
    <div class="summary-div">
        <h2>Order Summary</h2>
        <div class="table-div">
        <table mat-table [dataSource]="checkout" class="table-div">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>ITEM</th>
                <td mat-cell *matCellDef="let item">
                    <div id="item-div">
                        <img id="item-icon" [src]="item.img"/>
                        <h4 id="item-name">{{item.name}}</h4>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef>QUANTITY</th>
                <td mat-cell *matCellDef="let item"><h4>{{item.qty || ''}}</h4></td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>PRICE</th>
                <td mat-cell *matCellDef="let item"><h4>${{item.price}}</h4></td>
            </ng-container>

            <ng-container matColumnDef="noRecord">
                <td mat-footer-cell *matFooterCellDef>There are no items in your cart.</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <ng-template [ngIf]="checkout.length === 0">
                <tr mat-footer-row *matFooterRowDef="['noRecord']"></tr>
            </ng-template>
        </table>
        </div>
        <div class="price-div">
            <div class="price-text">
                <div>Single</div>
                <div>Reccuring</div>
                <div>GST</div>
                <div>Total</div>
            </div>
            <div class="price-numbers">
                <div>${{single.toFixed(2)}}</div>
                <div>${{recurring.toFixed(2)}}</div>
                <div>${{((recurring + single) * 0.05).toFixed(2)}}</div>
                <div>${{((recurring + single) * 1.05).toFixed(2)}}</div>
            </div>
        </div>
    </div>
    <div class="forms-div">
            <app-register [single]="single"></app-register>
    </div>
</div>
