<div class="header">
    <h1 class="title">storagehotel</h1>

    <div class="button-div">
        <button mat-stroked-button type="button" (click)="logout()">Log out</button>
    </div>
</div>

<mat-tab-group class="tab" mat-align-tabs="center" color="accent" animationDuration="0ms" disableRipple="true">

  <mat-tab>
      <ng-template mat-tab-label>
        <h3>Stored Items</h3>
      </ng-template>
      <div class="content">
        <app-stored-items [items]=items [email]=email (bookingSuccessful)="onBookingSuccess($event)"></app-stored-items>
      </div>
      </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <h3>Appointments</h3>
      </ng-template>
      <div class="content">
        <app-appointments [appointments]=appointments [email]=email (deletedAppointment)="onDeletedAppointment($event)"></app-appointments>
      </div>
    </mat-tab>
  
      <mat-tab>
        <ng-template mat-tab-label>
          <h3>Account</h3>
        </ng-template>
        <div class="content">
            <div class="account">
              <div class="profile"></div>
              <h2>Profile</h2>
              <div class="profile-row">
                <div class="profile-field">Name</div>
                <div class="profile-value">{{name || "-"}}</div>
              </div>
              <div class="profile-row">
                <div class="profile-field">Phone</div>
                <div class="profile-value">{{phone || "-"}}</div>
              </div>
              <div class="profile-row">
                <div class="profile-field">Email</div>
                <div class="profile-value">{{email || "-"}}</div>
              </div>
              <div class="account-row">
                  <div class="account-address">
                    <h2>Address</h2>
                    <p class="address-value" *ngIf="(address === '-'); else elseBlock">
                      -
                    </p>
                    <ng-template #elseBlock>
                      <div class="address-value">
                        <div *ngIf="(address.line2 != '')">{{address.line2}}<br></div>
                        {{address.line1}}, 
                        <br>{{address.city}}, BC
                        <br>Canada {{address.postalcode}}
                      </div>
                    </ng-template>
                  </div>
                  <div class="account-payments">
                    <h2>Payments</h2>
                  </div>
              </div>
            </div>
          </div>
      </mat-tab>
  </mat-tab-group>
