.header {
    background: white;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    color:  #5BBAAD;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }

.title {
    margin-bottom: 0px;
    color: #024638;
}

.button-div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 80px;
}

button {
    border-radius: 20px;
    color: #a8a8a8;
    font-size: 12px;
    width: 80px;
    height: 30px;
    line-height: 0px;
}

.tab {
    background: white;
    height: calc(100% - 60px);
}

.content {
    background-color: #F8F8F8;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
}

app-stored-items, app-appointments{
    height: 100%;
    width: 100%;
}

.account {
    margin-top: 5vh;
    width: 50%;
    height: 50vh;
    margin-left: 20vh;
    border-left: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.profile-row {
    font-size: large;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    font-size: smaller;
}

.profile-field {
    color: grey;
    width: 20%;
}

.account-row {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.account-address {
    width: 100%;
}

.address-value {
    font-size: smaller;
    color: darkslategray;
    line-height: 20px;
}

.account-payments {
    width: 100%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 576px) {
    .header {
        background: white;
        padding: 0px 25px;
        display: flex;
        justify-content: space-between;
        color:  #5BBAAD;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
      }
    .button-div {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 70px;
    }
    button {
        border-radius: 20px;
        color: #a8a8a8;
        font-size: 11px;
        width: 100px;
        height: 30px;
        line-height: 0px;
    }
    .tab h3 {
        font-size: 14px;
    }
    .tab {
        padding-top: 10px;
    }
    .title {
        font-size: 28px;
    }
    .account {
        margin-top: 1vh;
        width: 80%;
        height: 50vh;
        margin-left: 0vh;
        border-left: 0px solid #E0E0E0;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }
    .profile-row {
        font-size: large;
        padding-top: 0vh;
        padding-bottom: 1vh;
        display: flex;
        flex-direction: row;
        font-size: smaller;
    }
    .profile-field {
        color: grey;
        width: 20%;
    }
    .account-row {
        margin-top: 1vh;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .account-address {
        width: 60%;
    }
    .address-value {
        font-size: smaller;
        color: darkslategray;
        line-height: auto;
    }
    .account-payments {
        width: 40%;
    }
}
