.header {
    background: white;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    color:  #5BBAAD;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
}

.tab {
    background: white;
    height: calc(100% - 100px);
}

.content {
    background-color: #F8F8F8;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
}

app-stored-items, app-appointments{
    height: 100%;
    width: 100%;
}

.account {
    margin-top: 50px;
    width: 50%;
    height: 500px;
    margin-left: 300px;
    border-left: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.profile-row {
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.profile-field {
    color: grey;
    width: 20%;
}

.account-row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.account-address {
    width: 20%;
}

.address-value {
    font-size: large;
    color: darkslategray;
    line-height: 30px;
}

.account-payments {
    width: 50%;
}

